

/* body {
    height: 100vh;
    margin: 0;
    background: #000;
    overflow: hidden;
    position: relative;
} */

#network {
    width: 1000px;
    height: 1000px;
    border: 0px transparent;
    background-color: transparent; /* 设置背景为透明 */
    position: relative;
}

/* 修改节点样式 */
.vis-network .node {
    background: linear-gradient(45deg, #000, #fff); /* 黑白渐变背景 */
    border: 2px solid #000; /* 黑色边框 */
    color: #000; /* 黑色文字 */
}

/* 修改节点字体颜色 */
.vis-network .node * {
    color: #000 !important; /* 强制设为黑色 */
}

/* 修改选中节点样式 */
.vis-network .node.selected {
    background: linear-gradient(45deg, #fff, #000); /* 黑白渐变背景（反向） */
    border-color: #fff; /* 白色边框 */
    color: #fff; /* 白色文字 */
}

